<p class="msg">Please input your number for verification</p>
<p>{{error}}</p>
<form action="/" method="post">
    <input class="number" type="text" name="number">
    <input class="btn" type="submit">
</form>